<?xml version="1.0" encoding="ISO-8859-1"?>
<Config>
	<!-- Where do we live? -->
	<RootDir>/var/www/BigRoaster</RootDir>
	<!-- Place templates (themes) in templates folder -->
	<!-- The static folder must contain the corresponding css and js files -->
	<Template>bigroaster.html</Template>
	<!-- Use LCD - yes or no-->
	<Use_LCD>no</Use_LCD>
	<!-- GPIO pin numbering scheme - choose BOARD or BCM. If something else than these are given, BCM is chosen as default. -->
	<GPIO_pin_numbering_scheme>BCM</GPIO_pin_numbering_scheme>
    <Roasters>
        <!-- A Roaster consists of one or more temperature sensors and a single gas valve and servo -->
        <Roaster>
            <Roaster_Id>default</Roaster_Id>
            <Temp_Sensors>
                <Temp_Sensor>
                    <Temp_Sensor_Name>indrum</Temp_Sensor_Name>
                    <Temp_Sensor_Id>0</Temp_Sensor_Id>
                    <Temp_Sensor_Driver>MAX31855</Temp_Sensor_Driver>
                    <SPI>hardware</SPI>
                </Temp_Sensor>
            </Temp_Sensors>
            <Servo>
                <Servo_Id>default</Servo_Id>
                <Servo_Driver>easydriver</Servo_Driver>
                <Servo_Delay>0.005</Servo_Delay>
                <Step_Pin>14</Step_Pin>
                <Dir_Pin>15</Dir_Pin>
                <MS1_Pin>23</MS1_Pin>
                <MS2_Pin>24</MS2_Pin>
                <Home_Pin>5</Home_Pin>
                <Step>full_step</Step>
                <Steps_Per_Rotation_Full>200</Steps_Per_Rotation_Full>
            </Servo>
            <Valve>
                <!-- This is a ceiling value for the maximum turns of the valve. Round up to the nearest whole number. -->
                <Max_Turns_Ceil>2</Max_Turns_Ceil>
                <Safe_Low_Percent>10</Safe_Low_Percent>
            </Valve>
        </Roaster>
    </Roasters>
	<!-- Units C (Celsius) or F (Fahrenheit) -->
	<!-- Note: Default is F for Android app which can switch between F and C-->
	<Temp_Units>F</Temp_Units>
</Config>
